# OpenRouter API Key
OPENROUTER_API_KEY=sk-or-v1-...

# (Optional) Log Level
LOG_LEVEL=INFO

# LangSmith Observability
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=ls__...
LANGSMITH_PROJECT="doc-sec-audit"

# Langfuse Observability
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_HOST=http://localhost:3000
